<div local-class="admin-users">
  <div local-class="list-area">
    <div class="button" {{on "click" this.newUser}}>
      New User
    </div>
    <div local-class="list">
      {{#each @model as |user|}}
        <LinkTo @route="protected.admin-users.id" @model={{user.id}}>
          {{user.email}}
        </LinkTo>
      {{/each}}
    </div>
  </div>
</div>